*{
    padding: 0px;
    margin:0px;
   
}
::selection {
    background: gold;
  }
.container{
    max-width:1450px!important;
}
a{
    color:#000;
}
a:hover{
    color:#000;
    text-decoration: none;
}
/* DIZAJN POPOUT-A */
#linkoviFixed{
    z-index:101;
    position:fixed;
    top:30%;
    right:10px;
    background-color:rgba(255,255,255,0.9);
    border-radius: 5px;
    padding:10px 15px;
    box-shadow: -10px 0px 20px 2px rgba(0,0,0,.06);

}

.linkFixed{
    position:relative;
}
.linkFixed i{
    font-size:1.5em;
    padding:20px 0px;
    
    color:#BDC3C7;
}

.linkFixed i:hover{
    color:goldenrod;
}
.prelazakMisem{
    position: absolute;
    top:5px;
    right:40px;
    background-color:rgba(255,255,255,0.9);
    width:150px;
    height:55px;
    padding-top:15px;
    border-radius: 5px 0px 0px 5px;
}
.linkFixed:nth-of-type(2){
    border-bottom: 1px solid goldenrod;
    border-top: 1px solid goldenrod;
}
.socials i{
    padding-top: 0px;
    font-size:1.6em;
}
.socials i:nth-of-type(2){
    padding: 0px 15px;
    
}
/*KRAJ DIZAJN POPOUT-A */
header{
    overflow: hidden;
    height: 100vh;
    /* background-image: url(../bcimg5.jpg); */
    background-image: url(../img/heder.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background: #f9f9f9; */
    position: relative;
}

/* NAVIGACIJA */

#logo,#navigacija{
    opacity:0;
  
}
#logo img{
    width:110px;
    margin-top: 10px;
}
#navigacija ul li{
    list-style: none;
    font-size:18px;
    font-weight: 500;
    display:inline;
    /* transition: 0.3s ease-in; */
    padding:10px 20px;
    /* transition:.2s ease-in; */
    
}
#navigacija ul li:hover{
    padding: 10px 18px;
    
    border:2px solid goldenrod;
    /* border-top:2px solid goldenrod; */
    
}
#navigacijaLinkovi{
    position:absolute;
    right:100px;
    top:20px;
    /* text-align:left; */
    display:none;
    
}
#navigacijaLinkovi a{
    color:#000;
    text-decoration: none;
    letter-spacing: 0.5px;
}
.active{
    display:block!important;
    position: absolute;
    top:100px;
    right:0px;
    z-index: 100;
}

#hamburger{
    position: absolute;
    top:20px;
    right: 20px;
}
.ham{
    width: 35px;
    height: 3px;
    background-color:#CFB53B;
    transform:rotate(0deg);
    transition: 0.3s ease;
}
.ham:nth-of-type(1){
    width:40px;
}
.ham:nth-of-type(2){
   margin:5px 0px;
    margin-left:5px;
}
.ham:nth-of-type(3){
    width:30px;
    margin-left:10px;
}
.hamClick{
    background:#CFB53B;
}

.hamClick:nth-of-type(1){
    opacity: 0;
  }
.hamClick:nth-of-type(2){
    position: absolute;
    transform: rotate(135deg);
    top: -2px;
    left: 5px;
    bottom:-10px;
 }
 .hamClick:nth-of-type(3){
    transform:rotate(45deg);
    width:35px;
    position: absolute;
    bottom: -10px;
    
  }




/* KRAJ NAVIGACIJE */
/* NASLOV */
#naslov{
    opacity: 0;
}
#naslov h1{
    font-size:3em;
    /* margin-left: 100px; */
    margin-top:200px;
    
}
#naslov h1 span{
    font-size:2em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width:3px;
    -webkit-text-stroke-color: goldenrod;
}

.tekstNaslov{
    font-size:1.8em;
}
.dugmeNaslov{
    font-size:1.3em;
    border:1px solid goldenrod;
    width:200px;
    padding:10px 5px;
    transition:0.2s ease-in;
    font-weight: 600;
}
.dugmeNaslov:hover{
    color:#fff;
    background-color:goldenrod;
}
.dugmeNaslov a{
    color:#000;
}
.dugmeNaslov a:hover{
    text-decoration: none;
    color:#fff;
}

/* KRAJ NASLOVA */

/* O NAMA */
#about{
    /* background: #f9f9f9; */
    padding: 150px 0px;
  
}

.onamaTekst p ,.onamaTekst h2{
    /* margin:0px auto; */
    width: 550px;
}
.onamaTekst h2{
    font-size:2.5em;
    margin-top:40px;
    margin-bottom: 30px;
}
.onamaTekst p {
    font-size:1.05em;
    line-height: 1.7;
    margin-bottom: 15px;
}
.onamaSlika{
    display: block;
}
/* subscription */
#subscription{
    height:600px;
    background-image: url("../img/sub2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}  
#greskaSub{
    color:#fff;
    padding:0px 10px;
    background:rgba(0,0,0,0.65);
    text-align: justify;
}
.subTekst h2{
    font-size:4em;
    color:black;
    padding-top:100px;
    width:500px;
    margin:0px auto;
   
}
.subTekst form input{
    width:300px;
    height:45px;
}
.subTekst form input:nth-of-type(2){
   margin-top:15px;
    background-color: #C93756;
    color:#fff;
    border:0px;
}
.subTekst form{
    width:300px;
    margin:0px auto;
    margin-top:50px;
}
/* subscription */

/* TRANSPORT */
#transport{
    padding:100px 0px;
    /* background: #f9f9f9; */
}
#transport h3{
    text-transform: uppercase;
    font-size:1.5em;
    
}
#transport p{
    width:250px;
    text-align: left;
}

/* KRAJ TRANSPORTA */
/* blog */
#blog{
    background-image: url('../img/heder.jpg');
    background-size: cover;
    padding:80px 0px;
}
.blogNaslov h2{
    font-size:3em;
}
.blogNaslov p{
    font-size:1.2em;
    margin-bottom:80px;
}
.blokSlikePadding{
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.blog1{
    /* margin-bottom: 50px; */
  
}
.blogTekst{
    background-color: #fff;
}
#blog h3{
    margin-bottom: 30px;
}

#blog p:nth-of-type(2){
    width:500px;
    font-size:1.1em;
    padding-bottom: 30px;
    border-bottom: 1px solid gray;
}
#blog p:nth-of-type(1){
font-weight: 500;
}
#blog p:nth-of-type(3){
    font-weight: 500;
    /* background-color: #C93756; */
    width:150px;
    text-align: center;
    color:#000;
    font-size:1.05em;
    padding:10px 10px;
    border:2px solid #C93756;
    transition:0.2s ease-in;
    }
#blog p:nth-of-type(3):hover{
    background-color:#C93756;
    color:#fff;
}

/* kraj bloga */

/* FOOTER */
footer{
    /* min-height: 700px; */
    background-color: #050505;
    color:#fff;
    
}
.marginaFoo .row{
    margin-left:0px!important;
}
.posts img {
    width:100%;
    height: 100%;
    transition:0.2s ease-in-out;
}
.posts img:hover{
    border:4px solid goldenrod;
   
}

.paddingInstagram{
    padding-right: 5px; 
    padding-left: 5px;
}

.fooInsta h2{
    margin-top:50px;
    margin-bottom:30px;
}
.fooInfo{
    margin-top:50px;
}

.placanje p:nth-of-type(1){
    width:300px;
    line-height: 1.8;
    font-size:0.95em;
}
.placanje p:nth-of-type(2){
    font-size:0.9em;
}
.kartice i{
    font-size:1.7em;
}
.kartice i:nth-of-type(2){
    margin:0px 10px;
}
.fooCopy{
    padding-top:100px;
}
.fooCopy{
    font-size:0.9em;
}
.mapa{
    padding-right: 0px;
    padding-left: 0px;
}
.mapa iframe{
    height:250px;
    width:80%;
}
.fooLinkovi p{
    margin-bottom: 0.6rem!important;
}
.fooLinkovi p a{
   color:#fff;
   transition:0.2s ease-in;
}
.fooLinkovi p a:hover{
    border-bottom:1px solid goldenrod;
    padding-bottom: 2px;
    text-decoration: none;
}
    /* padding-left: 15px;
/* KRAJ FOOTERA */

/* STRANICA MUSKE ODECE */

#headerProizvodi{
    height:40vh;
}
#naslovProizvodi h1{
    font-size:3em;
    /* margin-left: 100px; */
    margin-top:100px;
    
}
#naslovProizvodi p{
    font-size:1.2em;
    margin-top:10px;  
}
#naslovProizvodi span{
    font-size:1.2em;
}
#proizvodiPrikaz,#blogPrikaz{
    /* border-left:2px solid #BDC3C7;
    border-left:1px solid goldenrod; */
    padding-left: 50px;
}
.selectBox {
    position: relative;
    width:250px;
  }
  
  .selectBox select {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding:6px 0px;
  }
  
  .sakrijOption {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  /* OVER SLUZI DA SAKRIJE SELECT NA OPTION KADA SE KLIKNE NA SELECT */

  #chbs {
    display: none;
    border: 1px #dadada solid;
    transition: 0.5s ease;
    width:250px;

  }
 
  #chbs label {
    display: block;
    padding:3px 0px;
    padding-left: 10px;
    color: #495057;
  }

  #chbs label:hover {
    background-color: #1e90ff;
    color:#fff;
  }
/* main */
#glavni{
    padding:0px;
}
main{
 
    padding:100px 0px;
}
.searchDiv,#sortiranje,#datum{
    width:250px;
}

.proizvodSlika {
    position: relative;
    overflow: hidden;
}
.proizvodSlika img {
    position: relative;
    overflow: hidden;
    transition: 0.5s ease;
    display: block;
    border-bottom: 2px solid goldenrod;
    border-left:2px solid goldenrod;
    padding:3px;
}
  
.proizvodSlika:hover img {
    transform: scale(1.3);
}
/* .searchDiv input{
    border:0px;
    border-bottom: 1px solid #000;
    border-radius: 0px;
}
.searchDiv #search{
    background: transparent!important;
    border:0px;
} */
#filtriranje{
    font-size:1.1em;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    width:250px;
}
#filtriranje input{
    width:15px;
    height:15px;
}
.cenaProizvod{
    font-size:1.4em;
    font-weight: bold;
}
.cena i{
     /* background: #ababab; */
    display: block;
    width: 35px;
    height: 35px;
    /* border-radius: 50%; */
    padding: 7px;
    color:#000;
    transition:0.2s ease-in;
    border:2px solid goldenrod;
}

.cena i:hover{
    background: goldenrod;
}
/* kraj maina */
/* logoKompanije */
#logoKompanije{
    background-color:#F2F1EF;
   
}
.slajder{
    position: relative;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
/* kraj logo kompanija */
/* KRAJ STRANICE MUSKE ODECE */

/* STRANICA KONTAKT */
#kontakt{
    padding:0px;
}
#kontaktForma input,#kontaktForma textarea{
    border-radius: 0px;
}
textarea{
    resize:none;
}
#btnSubmit{
    margin-top: 15px;
    background-color: #C93756;
    color: #fff;
    border: 0px;
    width:200px;
    padding:10px 0px;
}
.infoTekstContact{
    width: 350px;
    letter-spacing: .1px;
    line-height: 1.7;
    font-size:1.1em;
   
}
#greskaKontakt ul li{
    list-style-type: none;
    font-weight: bold;
  
}
.slikaKontakt{
    background:url('../img/kontakt1.jpg');
}
.contactIkone strong{
    font-size:1.2em;
}

/* STRANICA KONTAKT */

/* STRANICA CART */
.cartSlika{
   border-left: 2px solid goldenrod;
   border-bottom: 2px solid goldenrod;
}
.brisiProizvod{
    font-size:1.8em;
}
.brisiProizvod:hover{
    color:goldenrod;
}
.desniBlokCart input{
    border:0px;
}
.desniBlokCart,.leviBlokCart{
    position: relative;
    
}
.desniBlokCart p{
    position: absolute;
    bottom:0px;
    /* left:-40px; */
   border-bottom: 2px solid goldenrod;
   font-size:1.2em;
   right: 20px;
}
.leviBlokCart p{
    position: absolute;
    bottom:0px;
    font-size:1.2em;
}
.cenaKorpa{
    font-weight: 500;
    font-size:1.1em;
}

@media screen and (max-width: 1024px) {
    .leviBlokCart p,.desniBlokCart p{
        position: relative;
        left:0px;
    }
    
    .desniBlokCart p{
        border:0px;
        position: absolute;
        left:13px;
        top:0px;
    }
    .cartSlika{
        border-bottom: 0px;
    }
    #navigacija ul li{
       
        font-size:17px;
    }
    #naslov h1 {
        font-size: 2.5em;
        
        margin-top: 100px;
    }
    #naslov h1 span {
        font-size: 1.3em;
        
        -webkit-text-stroke-width:1px;
   
    }
    .tekstNaslov {
        font-size: 1.7em;
    }
    .dugmeNaslov {
        font-size: 1.1em;
        width: 150px;
        padding: 8px 4px;
    }

    #about{
        margin-top:0px;
        margin-bottom:20px;
    }
    .onamaTekst p,.onamaTekst h2{
        width:auto;

    }
    #subscription {
        height: 500px;
      
    }
    #blog h3 {
        margin-bottom: 20px;
    }
    #blog p:nth-of-type(2) {
        width: 400px;
        font-size: 1em;
        padding-bottom: 10px;
      
    }
    #blog p:nth-of-type(3) {
        width: 120px;
        font-size: 1.0em;
        padding: 8px 4px;
    }
  }

  @media screen and (max-width: 768px) {
    #navigacijaLinkovi{
        z-index:200; 
    }
    #navigacijaLinkovi li{
        z-index:200;
        
    }
    
    #subscription {
        height: 400px;
    }
    
    .subTekst h2 {
        font-size: 3em;
        padding-top: 50px;
        width:350px;
    }
    .subTekst form input {
        width: 250px;
        height: 40px;
    }
    .subTekst form {
        width:250px;
        margin-top: 30px;
    }
    
  }
  @media screen and (max-width: 576px) {
    header{
        height:70vh;
        overflow: inherit;
    }
    #proizvodiPrikaz, #blogPrikaz {
        margin:0px auto;
        padding-left: 0px;
       
    }
      /* poput */
      #linkoviFixed {
        z-index: 101;
        position: fixed;
        top: 60%;
        right: 0px;
        background-color: rgba(255,255,255,0.9);
        border-radius: 5px;
        padding: 5px 5px;
        box-shadow: -10px 0px 20px 2px rgba(0,0,0,.06);
    }
    .linkFixed i {
        font-size: 1.4em;
        padding: 10px 0px;
        
    }
    .prelazakMisem {
        position: absolute;
        top: 0px;
        right: 25px;
        background-color: rgba(255,255,255,0.9);
        width: 150px;
        height: 40px;
        padding-top: 5px;
        border-radius: 5px 0px 0px 5px;
    }
  
    .socials i{
        padding-top: 5px;
        font-size:1.4em;
    }
    .socials i:nth-of-type(2){
        padding:0px 20px;
    }
    /* end of poput */

    /* navigacija */
    #navigacija ul li{
        width:100px;
        /* margin-right: 20px; */
        display:block!important;
        top:0px;
        left:0px;
       margin-left: auto;
    }
    #logo{
        left:-20px;
        top:-5px;
    }
    #logo img{
        width:90px;
        margin-top: 10px;
    }

    #hamburger {
        position: absolute;
        top: 15px;
        right: 0px;
    }
    
    #navigacijaPromenaBojeMaliEkran{
        margin-left:0px!important;
        background-color:rgba(0,0,0,0.75);
    }
  
 
    #navigacijaLinkovi{
        right:-15px;
        top:27.5px;
       
        margin-top:20px;
        background-color:rgba(0,0,0,0.75);
        width:140%;
      text-align: right;
      padding-bottom: 20px;
    }

    #navigacijaLinkovi li a{
        color:#fff;
    }
    /* end of navigacija */

    #naslovProizvodi h1 {
        font-size: 2.2em;
        /* margin-left: 100px; */
        margin-top: 40px;
    }
  
/* ABOUT */
#about {
    /* background: #f9f9f9; */
    padding: 0px 0px 50px 0px;
}
#transport {
    padding: 40px 0px;
    
}
/* END OF ABOUT */
    .responsiveDugme{
        width: 300px;
        z-index:105;
        position: relative;
    }
    .dugmeNaslov {
        font-size: 0.9em;
        width: 400px;
        padding: 6px 3px;
    }
    #naslov h1 {
        font-size: 2em;
        
        margin-top: 50px;
    }
    #naslov h1 span {
        font-size: 1.5em;
    }
    .naslovSlika{
        margin-top:100px;
    }
    .tekstNaslov {
        font-size:1.1em;
      
    }
    /* #glavniSlike{
     width:100%;
        
    } */
    .onamaTekst p{
        font-size:0.95em;
    }
    .onamaTekst h2,.blogNaslov h2 {
        font-size: 2.2em;
    }
    #transport h3 {
        text-transform: uppercase;
        font-size: 1.3em;
    }
    #blog{
        padding:40px 0px;
    }
    
    #blog p:nth-of-type(2) {
        width: 350px;
        font-size: 0.95em;
    }
    .fooCopy {
        padding-top: 50px;
    }
    .mapa iframe {
        height: 200px;
        width: 70%;
    }
    
    main {
        padding: 40px 0px;
    }
}
@media screen and (max-width: 400px){
    #naslovProizvodi p {
        font-size: 1.05em;
        margin-top: 10px;
    }
    #btnSubmit{
        width:150px; 
    }
    .infoTekstContact{
        width: 250px;
    }

    #blog p:nth-of-type(2) {
        width: 270px;
        font-size:0.95em;
    }
    .subTekst h2 {
        font-size: 2.5em;
        padding-top: 50px;
        width: 300px;
    }
    #naslov h1 {
        width:300px;
    }
    #naslov{
        position:relative;
    }
    .tekstNaslov {
        position: relative;
        width:300px;
       z-index:101;
    }
    .searchDiv, #sortiranje, .selectBox, #chbs,#datum {
        width: 200px;
       
    }
}

@media screen and (max-width: 350px){
    .responsiveDugme, .tekstNaslov,#naslov h1,.subTekst h2,.placanje p:nth-of-type(1){
        width:280px;
    }
}
  
